<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Galerie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full color="primary" (click)="scanBarcode()">Scaneaza cod</button>
</ion-content>
