<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Acasa
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Aceasta este prima pagina.</p>
  <button ion-button full color="secondary" (click)="gotoGallery()">Galerie</button>
</ion-content>



